<form action="/api/books/add" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" placeholder="Book name" />
  <br /><br />
  <label for="year">Price</label>
  <input type="number" name="year" id="year" placeholder="Pri" />
  <br /><br />
  <label for="lorem">Post</label>
  <input type="text" name="lorem" id="lorem" placeholder="lorem" />
  <br /><br />
  <label for="img">Img</label>
  <input type="text" name="img" id="img" placeholder="Book img" />
  <input type="submit" />
</form>